body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    min-height: 100vh; /* Esto ayuda a centrar verticalmente en la página completa */
}

.container {
    width: 300px;
    padding: 20px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    text-align: left;
}

label, input, select, button {
    display: block;
    margin: 10px 0;
    width: 100%;
}

button {
    background-color: #fff;
    color: #4CAF50;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4CAF50;
    color: #fff;
}

/* Estilo para el cuerpo y el contenedor */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    width: 300px;
    padding: 20px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilo para la tabla y el botón */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    text-decoration: underline;
    cursor: pointer;
    color: #0000EE;
}

button {
    background-color: #fff;
    color: #4CAF50;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4CAF50;
    color: #fff;
}
